# Dependency directories
node_modules/

# Build outputs
dist/
dist-electron/
out/
build/

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Other
coverage/
.tmp/
temp/
